.navbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #262626;
	height: 7vh;
}

.navbar-button {
	margin: 0px 10%;
	background-color: #262626;
	color: white;
	font-weight: bold;
	cursor: pointer;
	border: none;
	text-transform: uppercase;
}

.navbar-button:hover {
	background-color: #474646;
}

.left-side-navbar {
	display: flex;
}

@media (max-width: 330px) {
	.navbar {
		height: 12vh;
	}

	.navbar-button {
		width: 100%;
		margin: 6px 0;
		font-size: 1em;
		padding: 3px 0;
	}

	.left-side-navbar {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
}
